<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227281162992-b0svq5ia2qsc7qh7i3jugs56u9sd4f33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227281162992-b0svq5ia2qsc7qh7i3jugs56u9sd4f33</string>
	<key>API_KEY</key>
	<string>AIzaSyC81-LQg4hPAKXkeaszrOIaSbFRbqnM_xQ</string>
	<key>GCM_SENDER_ID</key>
	<string>227281162992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homelette.app</string>
	<key>PROJECT_ID</key>
	<string>team14-sublet-1034a</string>
	<key>STORAGE_BUCKET</key>
	<string>team14-sublet-1034a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227281162992:ios:c3d3e3141c02fa9e57a835</string>
</dict>
</plist>